@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;
}

.content-page {
  background-color: var(--main-bg-color);
  display: flex;
}
