@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import 'themes/orange.scss';

* {
    box-sizing: border-box;
}

body {
    font: var(--font-m);
    color: var(--secondary-color);
}

.app {
    background: var(--main-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}