.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.placeholderModalAuth {
    color: var(--secondary-color) !important;
}


.inputModalAuth {
    color: var(--secondary-color) !important;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}