.LoginForm {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.placeholderModalAuth {
  color: var(--secondary-color) !important;
}

.inputModalAuth {
  color: var(--secondary-color) !important;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}