.ArticleSortSelector {
    color: var(--secondary-color);
}

.sortField {

    select,
    span {
        color: var(--secondary-color);

    }

}

.order {

    select,
    span {
        color: var(--secondary-color);
    }
}