.Sidebar {
  position: relative;
  display: flex;

  width: var(--sidebar-width);
  height: 100%;
  // height: calc(100vh - var(--navbar-height));

  flex-direction: column;
  justify-content: left;
  border-radius: 15px;
  border: 2px solid var(--card-border-color);
  // background-color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  padding-top: 22px;
}

.items {
  position: absolute;
  top: 106px;
  gap: 8px;
  padding: 0px 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items.collapsed {
  padding: 0;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.applogo {
  margin-bottom: 22px;
}

.buttonCollapsed {
  position: absolute;
  right: 0;

  top: 50%;

  width: 30px;
  height: 30px;

  padding: 0;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.buttonCollapsed.collapsed {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.switchersWrapper {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.switchersWrapper.collapsed {
  display: flex;
  flex-direction: column;
}

.switchersWrapper.collapsed {
  margin-top: 100%;
}
