.AddNewComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--secondary-color);

  .input {
    flex-grow: 1;
  }

  .input,
  .placeholder {
    color: var(--secondary-color);
  }
}