.item {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  color: var(--main-color);
  opacity: 1;
}

.icon {
  fill: var(--main-color);
}

.collapsed {
  .link {
    width: 0;
    opacity: 0;
    text-decoration: none;
    transition: 0.2s opacity;
  }
}
