.Code {
  position: relative;
  overflow: auto;
  padding: 20px;
  border: 1px solid var(--code-border);
  border-radius: 5px;
  background: var(--code-bg);
  color: var(--code-color);
}

.copyBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.copyIcon path {
  stroke: var(--secondary-color);
}