.LangSwitcher-container {
    margin: 12px;
}

.LangSwitcher {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    outline: none;
}

.LangSwitcher-label {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}