.CommentItem {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin-top: 10px;
}

.username {
  margin-left: 10px;
}

.loading {
  border: none;
}
