.app_light_theme {
    --main-color: #F4F4FB; // Backgrounds, main elements
    --secondary-color: #5e69ee; // For 2nd level elements, text
    --accent-color: #39AFEA; // For CTAs and accent touches
}