.app_light_theme {
  --main-bg-color: #fff;
  --header-bg-color: #f6f8fa;
  --active-nav-item-color: #f0f2f4;
  --hover-nav-item-color: #d4d8dc; /* slightly darker */
  --selected-element-color: #0969da;
  --inactive-icon-text-color: #656d76;
  --hover-bg-icon-block: #24292e;
  --main-text-color: #1f2328;
  --secondary-text-color: #656d76;
  --card-border-color: #e7eaee;
  --card-bg-color: #f6f8fa;
  --new-button-color: #1a7f37;
  --hover-new-button-color: rgb(20 124 50);
  --input-color: #eaeef1;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #f9f9fb;
  --code-border: #cdcdcd;
  --code-color: #4a4a4a;
}
