.Navbar {
  display: flex;
  height: var(--navbar-height);
  align-items: center;
  padding: 20px;
  background: var(--secondary-color);
}

.mainLink {
  margin-right: 15px;
}

.appLink {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.createBtn {}