.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;
    justify-content: left;
    align-items: center;



    .editBtn {
        margin-left: auto;
    }

    .cancelBtn {
        margin-right: 10px;
    }
}

.title {
    margin-right: 20px;
}