.customInput {
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  border: 2px solid var(--input-border);
  border-radius: 5px;
  background-color: var(--input-color);
  color: var(--main-text-color);
  font: var(--font-m);
  outline: none;
}

.customInput:focus {
  border: 2px solid var(--selected-element-color);
}

.placeholder {
  color: var(--main-text-color);
  font: var(--font-m);
}

input:read-only {
  border: 2px solid var(--input-border);
  background-color: var(--hover-nav-item-color);
  opacity: 0.6;
}

input:read-only:focus {
  border: 2px solid var(--input-border);
}
