.NotificationButton {
}

.notbtn {
  display: flex;
  align-items: center;
}

.NotificationList {
  width: 500px;
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
}

.NotificationListLoading {
  width: 500px;
  min-height: 150px;
  max-height: 300px;
  padding: 10px 0;
}
